# Experiment No. 3
## Name: Anik Jain
## PRN: 25070123178
## Batch: A-3
## Title: Study of list & various operations on it

In [ ]:
## Python Lists
list = ['pune', 'mumbai', 'nagpur']
print(thislist)

['pune', 'mumbai', 'nagpur']

In [ ]:
# List Length
list = ['pune', 'mumbai', 'nagpur']
print(len(list))

3

In [ ]:
# A list with strings, integers and boolean values:
list = ["abc", 34, True, 40, "male"]
print(list)

['abc', 34, True, 40, 'male']

In [ ]:
# Access items
list = ["pune", "mumbai", "nagpur"]
print(list[0])

pune

In [ ]:
# Reverse/Negative Indexing
list = ["pune", "mumbai", "nagpur"]
print(list[-3])

pune

In [ ]:
#Slicing
list = ["pune", "mumbai", "nagpur", "satara", "solapur"]
print(list[1:])

['mumbai', 'nagpur', 'satara', 'solapur']

In [ ]:
#Slicing
list = ["pune", "mumbai", "nagpur", "satara", "solapur"]
print(list[-3:])

['nagpur', 'satara', 'solapur']

In [ ]:
# Change Item value
thislist = ["pune", "mumbai", "nagpur"]
thislist[1] = "satara"
print(thislist)

['pune', 'satara', 'nagpur']

In [ ]:
# Append Items
thislist = ["pune", "mumbai", "nagpur"]
thislist.append("satara")
print(thislist)

['pune', 'mumbai', 'nagpur', 'satara']

In [ ]:
# Insert list
thislist = ["pune", "mumbai", "nagpur"]
thislist.insert(1, "satara")
print(thislist)

['pune', 'satara', 'mumbai', 'nagpur']

In [ ]:
# Extend List
thislist = ["pune", "mumbai", "nagpur"]
tropical = ["satara", "solapur"]
thislist.extend(tropical)
print(thislist)

['pune', 'mumbai', 'nagpur', 'satara', 'solapur']

In [ ]:
# Searching Items
x="mumbai" in ["pune", "mumbai", "nagpur"]
print (x)

True

In [ ]:
# Repition
thislist = ["Friday"]
print(thislist * 10)

['Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday', 'Friday']

In [ ]:
numbers = [10, 20, 30, 40, 50]
# Slicing examples
print("Elements from index 1 to 3: ", numbers[1:4])
print("First 3 elements: ", numbers[:3])
print("Elements from index 2 ownwards: ", numbers[2:])
print("All elements: ", numbers[:])

Elements from index 1 to 3:  [20, 30, 40]
First 3 elements:  [10, 20, 30]
Elements from index 2 ownwards:  [30, 40, 50]
All elements:  [10, 20, 30, 40, 50]

In [ ]:
marks = [78,85,90,66,88]
print("Max: ", max(marks))
print("Min: ", min(marks))
print("Sum of marks: ", sum(marks))
print("No. of students: ", len(marks))
marks.sort()
print("Ascending order: ", marks)
print("Average: ", sum(marks)/len(marks))

Max:  90
Min:  66
Sum of marks:  407
No. of students:  5
Ascending order:  [66, 78, 85, 88, 90]
Average:  81.4

In [ ]:
''' Grocery Shopping List
A user maintains a grocery list for monthly shopping tasks

Grocery = [Flour, Shampoo, Oil, Bread, Soap]
print("Grocery list created: ", Grocery)

SyntaxError: incomplete input (ipython-input-1603081732.py, line 1)

In [ ]:
contacts = [Tony, Martin, Chris, Johnny]
print ("Contacts created: ", contact)

NameError: name 'Tony' is not defined